<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <main>
        <p align="center">crie uma conta aqui</p>
        <form action="/cadastro" method="post" class="form">
            <div class="flex">
                <label>
                    <input required="" type="text" class="input" name="firstname">
                    <span>Firstname</span>
                </label>
                <label>
                    <input required="" type="text" class="input" name="lastname">
                    <span>Lastname</span>
                </label>
            </div>
            <label>
                <input required="" type="email" class="input" name="email">
                <span>Email</span>
            </label>
            <label>
                <input required="" type="password" class="input" name="senha">
                <span>Password</span>
            </label>
            <label>
                <input required="" type="password" class="input" name="confSenha">
                <span>Confirm password</span>
            </label>
            <p align="center"><%= errCadastro %></p>
            <button class="submit">Submit</button>
        </form>
    </main>
</body>
</html>
