<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/conta.css">
</head>
<body>
    <main>    
        <h1>BEM VINDO <%= meuUsuario.firstname %> <%= meuUsuario.lastname %></h1>
        <h2>Seu ID: <span><%= meuUsuario.id %></span></h2>
        <form action="" autocomplete="off">
            <label for="buscar"> busque alguem para fazer amizade pelo id
                <br>
                <input type="text" name="user" id="buscar" class="input">
                <div id="listaNomes">

                </div>
            </label>
        </form>
    </main>
    <main>
        <h2>lista de amigos</h2>

        <h2>convites enviados</h2>
        <ul id="listaConvitesEnviados"></ul>

        <h2>convites recebidos</h2>
        <ul id="listaConvitesRecebidos"></ul>
    </main>
    <script src="/js/conta.js"></script>
</body>
</html>
